@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --BTNCOLLOR: #1da2f1;
  --BGBLUE: #d7f5f5;
  --HIGHLIGHT: #145389;
  --BGYELLOW: #f9f8f3;
  --LOGOCOLOR: #3d82e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* BG */

header,
.section__apresentation {
  background-color: var(--BGYELLOW);
}

/* General style */

.flex {
  display: flex;
  flex-direction: column;
}

button {
  flex-direction: row;
  background-color: var(--BTNCOLLOR);
  border: none;
  color: white;
  border-radius: 3px;
  padding: 10px;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

h1 {
  font-size: 35px;
  margin: 15px 0;
}

p {
  font-size: 16px;
  margin: 15px 0;
  line-height: 28px;
}
.opacity {
  opacity: 50%;
}

button img {
  width: 15px;
}

.blue-bg {
  background-color: var(--BGBLUE);
}

.bg-yellow {
  background-color: var(--BGYELLOW);
}

.blue-text {
  color: var(--HIGHLIGHT);
  opacity: 100%;
}

.inline {
  display: inline;
}

/* HEADER */

.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo,
footer .logo {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  color: var(--LOGOCOLOR);
  margin: 15px 20px;
  cursor: pointer;
}

/* Menu */

.sandwich-menu {
  transform: scale(300%);
  width: 15px;
  margin: 15px 20px;
}

.header__links {
  display: none; /* configurar menu sandwich */
  flex-direction: row;
  align-items: center;
}

.header__links a {
  margin: 0 15px;
  text-decoration: none;
  color: inherit;
}

.header__links button {
  flex-direction: row;
}

/* MAIN */

.section__apresentation__text,
.section__apresentation__img {
  margin: 20px;
}

.section__apresentation {
  flex-direction: column-reverse;
}

.section__apresentation button {
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}

.section__apresentation img {
  width: 20px;
}
.apresentation__btn {
  margin: 10px 0 30px;
  cursor: pointer;
}

.apresentation__btn p {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

/* Avatars */

.apresentation__people {
  height: 60px;
}
.apresentation__people img {
  width: 45px;
}

.child1 {
  position: absolute;
}
.child2,
.child3,
.child4,
.child5,
.child6,
.child7,
.child8,
.child9 {
  position: relative;
}

.child2 {
  left: 25px;
}
.child3 {
  left: 0px;
}
.child4 {
  left: -25px;
}
.child5 {
  left: -50px;
}
.child6 {
  left: -75px;
}
.child7 {
  left: -100px;
}
.child8 {
  left: -125px;
}
.child9 {
  left: -150px;
}

.blue-text.no-opacity {
  font-weight: 600;
}

/* Graphic section */

.section__apresentation__img {
  padding: 20px;
  gap: 20px;
}

.white-bg {
  background-color: white;
}

.apresentation__graphic {
  width: 295px;
  max-width: 100%;
  margin: auto;
}
.apresentation__graphic__number {
  gap: 20px;
}

.apresentation__graphic__info,
.apresentation__impressions,
.apresentation__engagement {
  padding: 15px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 1px 5px 10px 0.5px rgba(0, 0, 0, 0.068);
}

.apresentation__graphic h2,
.apresentation__impressions h2,
.apresentation__engagement h2 {
  font-size: 15px;
}

.apresentation__graphic p,
.apresentation__impressions p,
.apresentation__engagement p {
  line-height: 13px;
  margin: 3px 0;
  font-size: 11px;
}

.apresentation__graphic__info {
  justify-content: flex-start;
}

.apresentation__graphic__info img {
  width: 50px;
}

.green-circle {
  color: cyan;
}

.apresentation__graphic__info .total {
  border: 1px solid black;
  width: 90px;
  border-radius: 5px;
  flex-direction: row;
  padding: 10px;
  margin-left: 30px;
}

.total p {
  opacity: 100%;
}

.total-name::after {
  content: "\276F";
  font-weight: 600;
  margin-left: 25px;
  display: inline-block;
  transform: rotate(90deg);
}

.graphic {
  position: relative;
  height: 250px;
}

.graphic hr {
  opacity: 50%;
}

.graphic .horizontal-line {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 20px;
}

.graphic .vertical-line {
  position: absolute;
  bottom: 48px;
  left: 19.5px;
  right: 22px;
}

.graphic-img {
  height: 200px;
  position: absolute;
  left: 19.5px;
}

img.graphic-img {
  width: 250px;
}

.blue-bar {
  background-image: linear-gradient(
    to bottom,
    rgba(109, 175, 226, 0.644),
    rgba(86, 100, 163, 0)
  );
  border-radius: 8px;
  width: 35px;
  height: 130px;
  position: absolute;
  top: 60px;
  left: 90px;
}

.no-border {
  box-shadow: none;
}

.graphic-circle {
  position: absolute;
  width: 15px;
  background-color: rgb(89, 224, 224);
  height: 15px;
  top: 90px;
  left: 100px;
  border: 2px solid white;
  border-radius: 50%;
}

.followers {
  position: absolute;
  top: 75px;
  left: 130px;
  background-color: #145389;
  color: white;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.label-followers {
  position: absolute;
  top: 93px;
  left: 125px;
  background-color: #145389;
  border-left: 2px solid #145389;
  border-bottom: 2px solid #145389;
  padding: 4px;
  transform: rotate(45deg);
}

/* Section Features */

.section__features {
  padding: 60px 20px 20px;
}

.section__features h3 {
  font-size: 34px;
  margin: 20px 0;
}

.section__features h2 {
  font-size: 18px;
}

.section__features img {
  width: 40px;
  margin-bottom: 15px;
}

.features-card {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.315);
  border-radius: 5px;
  margin: 12px 0;
}

.features-card p {
  margin-bottom: 0;
}

/* Section Testimonials */

.section__testimonials {
  padding: 20px;
}

.section__testimonials h3 {
  font-size: 34px;
  margin-bottom: 20px;
}

.testimonials-card {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  margin: 20px 0;
}

.testimonials-card-profile,
.likes-date,
.likes {
  flex-direction: row;
}

.testimonials-card-profile {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.avatar {
  height: 60px;
  margin-right: 10px;
}

.space {
  width: 80px;
}

.testimonials-card p {
  margin: 0;
}

.name {
  width: 110px;
}
.name h2 {
  font-size: 18px;
}

.name p {
  font-size: 14px;
}

.likes-date {
  justify-content: space-between;
  margin-top: 20px;
}

.icon-heart {
  background-image: url(Assets/icon-heart-border.png);
  width: 25px;
  height: 25px;
  margin: 2px 5px 0 0;
  background-size: contain;
  display: inline-block;
}

.icon-heart:hover {
  background-image: url(Assets/icon-heart.png);
}

/* Section Plan */

.section__plan {
  margin: 60px 20px;
}

.section__plan h3 {
  font-size: 35px;
  text-align: center;
}

.plan-card h4 {
  margin: 20px;
  font-weight: 500;
  font-size: 22px;
}

.price-plan {
  flex-direction: row;
  margin: 0 20px 30px;
}

.plan-card .price {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.plan-card .month {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  margin-top: 10px;
}

.section__plan p {
  text-align: center;
  margin-bottom: 50px;
}

.section__plan .plan-card {
  border: 1px solid rgb(238, 190, 86);
  border-radius: 10px;
}

.check {
  flex-direction: row;
  gap: 15px;
  margin: 20px;
}

.check img {
  margin-bottom: auto;
}

.check p {
  text-align: left;
  margin: 0;
}

.plan-card hr {
  width: 290px;
  margin: auto;
  opacity: 50%;
}

.plan-card button {
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  padding: 15px;
  margin: 20px auto 30px;
  width: 300px;
}

.plan-card button img {
  width: 25px;
}

/* Footer */
.footer img {
  width: 30px;
  cursor: pointer;
}

.footer__links {
  flex-direction: row;
  margin: 0 40px 20px 20px;
  justify-content: space-between;
}

.footer__links a {
  text-decoration: none;
  color: inherit;
}

/* Tablet */
@media screen and (min-width: 481px) {
  .apresentation__graphic {
    margin: 0;
  }

  .apresentation__impressions,
  .apresentation__engagement {
    flex-direction: column-reverse;
  }

  .section__apresentation__img {
    flex-direction: row;
    max-width: 650px;
  }

  .apresentation__btn {
    flex-direction: row;
  }

  .apresentation__btn button {
    max-width: 230px;
    font-size: 16px;
  }

  .apresentation__btn p {
    max-width: 160px;
    margin: 15px;
    font-size: 16px;
  }

  .avatar-text {
    max-width: 80%;
  }

  .section__testimonials h3 {
    margin: 20px 0;
  }
  .testimonials-card-flex {
    overflow: auto;
    flex-direction: row;
    gap: 0px;
  }

  .testimonials-card {
    transform: scale(90%);
  }

  .testimonials-card:nth-child(1) {
    height: 250px;
  }

  .testimonials-card:nth-child(3) {
    height: 250px;
  }

  .plan-card {
    max-width: 400px;
    margin: auto;
  }

  .plan-card hr {
    width: 90%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__links {
    gap: 20px;
    align-items: center;
    margin: 15px 20px;
  }
}

@media screen and (min-width: 690px) {
  .section__apresentation__img {
    margin: auto;
  }
}

/* Desktop */
@media screen and (min-width: 950px) {
  /* HEADER desktop*/

  .header {
    padding-top: 15px;
  }
  .center {
    max-width: 920px;
    margin: auto;
  }

  .header .logo {
    margin-left: 0;
  }

  .sandwich-menu {
    display: none;
  }

  .header__links {
    display: inherit;
  }

  /* Section apresentation */

  .section__apresentation {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .section__apresentation__img {
    flex-direction: column;
    margin: 20px;
  }

  .section__apresentation__text {
    max-width: 521px;
  }

  .apresentation__impressions,
  .apresentation__engagement {
    flex-direction: row;
  }

  /* Sections Features */

  .section__features h3,
  .section__testimonials h3 {
    width: 920px;
    margin: auto;
  }
  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: auto;
  }
  .features-card {
    margin: 20px;
  }

  .features-card:nth-child(1) {
    grid-column: 1 / 2;
  }

  /* Section Testimonials */
  .testimonials-card-flex {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
  }

  .footer .logo {
    margin-left: 0;
  }
}
